@page
@model HistoryHub.Pages.EditorAccess.Favorites.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Favorite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Favorite.UserId" class="control-label"></label>
                <select asp-for="Favorite.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Favorite.TimelineId" class="control-label"></label>
                <select asp-for="Favorite.TimelineId" class ="form-control" asp-items="ViewBag.TimelineId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Favorite.QuizId" class="control-label"></label>
                <select asp-for="Favorite.QuizId" class ="form-control" asp-items="ViewBag.QuizId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
