@page
@model HistoryHub.Pages.Account.RegisterModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Historyhub -->
    <link href="~/img/historyhub-admin.png" rel="icon">
    <link href="~/img/historyhub-admin.png" rel="history-hub-icon">
</head>

<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="#" class="logo d-flex align-items-center w-auto">
                                    <img src="~/img/historyhub-logo.jpg" alt="">
                                    <span class="d-none d-lg-block">History-Hub</span>
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                        <p class="text-center small">Enter your personal details to create account</p>
                                    </div>

                                    <form class="row g-3 needs-validation" novalidate method="post">
                                        <div class="col-12">
                                            <label class="form-label">Your Email</label>
                                            <input asp-for="Email" type=" email" class="form-control" required>
                                            <div class="invalid-feedback">Enter a valid Email adddress!</div>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label">Your Name</label>
                                            <input asp-for="FullName" type="text" class="form-control" required>
                                            <div class="invalid-feedback">Enter your name!</div>
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label">Password</label>
                                            <div class="input-group has-validation">
                                                <input asp-for="Password" type="password" class="form-control" required>
                                                <div class="invalid-feedback">Enter your password!</div>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label">Phone</label>
                                            <input asp-for="Phone" type="text" class="form-control" required>
                                            <div class="invalid-feedback">Enter your phone!</div>
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label">Address</label>
                                            <input asp-for="Address" type="text" class="form-control">
                                            <div class="invalid-feedback">Enter your address!</div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Already have an account? <a href="/account/login">Log in</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

        </div>
    </main><!-- End #main -->

</body>

</html>