@page
@model HistoryHub.Pages.EditorAccess.Periods.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Period</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Period.PeriodId" />
            <div class="form-group">
                <label asp-for="Period.PeriodName" class="control-label"></label>
                <input asp-for="Period.PeriodName" class="form-control" />
                <span asp-validation-for="Period.PeriodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period.Description" class="control-label"></label>
                <input asp-for="Period.Description" class="form-control" />
                <span asp-validation-for="Period.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period.TimelineId" class="control-label"></label>
                <select asp-for="Period.TimelineId" class="form-control" asp-items="ViewBag.TimelineId"></select>
                <span asp-validation-for="Period.TimelineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period.CreateDate" class="control-label"></label>
                <input asp-for="Period.CreateDate" class="form-control" />
                <span asp-validation-for="Period.CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period.CreateBy" class="control-label"></label>
                <select asp-for="Period.CreateBy" class="form-control" asp-items="ViewBag.CreateBy"></select>
                <span asp-validation-for="Period.CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Period.Status" /> @Html.DisplayNameFor(model => model.Period.Status)
                </label>
            </div>
            <div class="form-group">
                <div class="form-group" style="margin-top: 15px">
                    <input type="submit" value="Save" style="background-color: #00ace6;
                    color: #ffffff;
                    padding: 5px 20px;
                    border-radius: 3px;
                    text-decoration: none;" />
                </div>
            </div>
        </form>
    </div>
</div>
<div style="margin-top: 15px">
    <a asp-page="./EditorManagePeriods" style="background-color: forestgreen;
       color: #ffffff;
       padding: 10px 20px;
       border-radius: 3px;
       text-decoration: none;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
